.login-form {
    text-align: center;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}

label{
    font-size: medium;
}
input{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
